<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite" parallel="methods" >
    <test name="Grid_Test1">
        <classes>
            <class name="cn.itcast.selenium.Demo">
                <methods>
                     <include name="openFF"/>
                    <!-- <exclude name="test1"/>-->
                  </methods>
              </class>
              <class name="cn.itcast.selenium.Demo">
                  <methods>
                      <include name="openChrome"/>
                      <!--  <exclude name="test1"/>-->
                 </methods>
             </class>
         </classes>
     </test>
 </suite>